
p {
    color: orange;  
}
div {
background-color: black;
    width: 300px;
    border: 15px solid orange;
    padding: 50px;
    margin: 20px;
    margin-left: 30%;
    font-family: "Times New Roman", Times, serif;
}
x {
    color: orange;
}
c {
    color: orange;
}
h {
    color: orange;
}
ul {
    color: orange;
}
body {
    background-color: black;
}
k {
    color: orange;
}
k2 {
    color: orange;
}
i {
    color: orange;
}
o {
    color: orange;
}
r {
    color: orange;
}
t {
    color: orange;
}
img {
    margin-right:1;
    margin-left: auto;
    display:block;
}