
body {
  background-image: url("funny\ imagies\ 2007/background3.png");
  background-repeat: no-repeat;
  background-size: 2200px 615px;
}

.container {
    display: flex;
    margin: 5%;
  }
.container-2 {
  display: flex;
  text-align: center;
  border-radius: 10px;
  margin: 5%;
  width: auto;
  height: 20px;
  background-color: rgb(37, 151, 14);
}
  
.item {
    display: flex;
    flex-grow: 1;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(37, 151, 14);
    border-radius: 10px; 
  }

  a:link {
    text-decoration: none;
  }
  a:active {
    text-decoration: underline;
  }
  a:hover {
    color:red
  }
  .item + .item {
    margin-left: 2%;
  }

  .product-container {
    display: flex;;
    flex-wrap: wrap;
    margin: 20%;
    height: 100px;
    justify-content: space-between;
    color: white;
  }

  .products img {
    display: flex;
    object-fit: cover;
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  
  .products { 
    display: flex;
    justify-content: center;
    width: 32%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 2%;
    position: relative;
    text-align: center;
    background-color: rgb(92, 27, 27);
    border-radius: 10px;
    flex-direction: column;
  }

  .shaun {
    display: flex;
    justify-content: center;
    
  }

  .shauntxt {
    display: flex;
    justify-content: center;
    width: 32%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
    position: relative;
    text-align: center;
    background-color: rgb(92, 27, 27);
    border-radius: 10px;
    flex-direction: column;
  }

  .shaunjpg img {
    display: flex;
    object-fit: cover;
    width: 90%;
    justify-content: center;
  }

  .h1 {
    text-align: center;
    background-color: aliceblue;
  }

  .mo-list {
    display: flex;;
    flex-wrap: wrap;
    margin: 20%;
    height: 100px;
    justify-content: space-between;
    color: white;
  }

  .monkey img {
    display: flex;
    object-fit: cover;
    width: 100%;
    text-align: center;
    justify-content: start;
  }
  
  .monkey { 
    display: flex;
    justify-content: start;
    width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2%;
    position: relative;
    text-align: center;
    background-color: rgb(92, 27, 27);
    border-radius: 10px;
    flex-direction: column;
  }
  
  .bank {
    display: flex;
    justify-content: center;
    width: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 2%;
    padding-left: %;
    padding-right: 1%;
    position: relative;
    text-align: center;
    background-color: rgb(92, 27, 27);
    border-radius: 10px;
    flex-direction: column;
  }

  .pile img {
    display: flex;
    object-fit: cover;
    width: 500px;
    justify-content: center;
    align-items: center;
  }