
body {
  background-image: url("funny\ imagies\ 2007/background3.png");
  background-repeat: no-repeat;
  background-size: fill;
}

.container {
    display: flex;
    margin: 5%;
  }
.container-2 {
  text-align: center;
  border-radius: 10px;
  margin: 5%;
  width: 710px;
  height: 500px;
  background-color: rgb(37, 151, 14);
}

  
.item {
    display: flex;
    flex-grow: 1;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(37, 151, 14);
    border-radius: 10px;
    
  }

  a:link {
    text-decoration: none;
  }
  a:active {
    text-decoration: underline;
  }

  a:hover {
    color: greenyellow
  }



  .item + .item {
    margin-left: 2%;
  }

  .product-container {
    display: flex;
    flex-wrap: wrap;
    margin: 20%;
    height: 100px;
    justify-content: space-between;
  }

  .img {
    object-fit: cover;
    width: 100%;
  }
  
  .products {
    width: 32%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 2%;
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: rgb(37, 151, 14);
    border-radius: 10px;
  }