/*Mixin for setting both margin right and left as the same, for an example auto*/
/*Mixin for postion, marginleft and left*/
/*Mixin for height and width*/
/*Mixin for the main text font for the website used everywhere except for the first snip bit of text.*/
/*Sets display and position*/
/*Sets display and direction*/
/*Used for setting the position of an element(i hope thats the right term for it)*/
h1 {
  padding-top: 90px;
  /*This next 3 classes are bit a dumb since i could have just made it 1 image but made it 3 seperate images, Left this here because im too scared to mess things up but i did learn from this and the next images like this are just 1 instead of 3*/
  /*Left logo image border*/
  /*Right logo image border*/
  /*The actual logo image*/
}

h1 .borderLeft {
  height: 236px;
  width: 400px;
  display: block;
  position: absolute;
  top: 89px;
  bottom: 0px;
  right: 0px;
  left: 150px;
}

h1 .borderRight {
  height: 236px;
  width: 400px;
  top: 89px;
  bottom: 0px;
  right: 0px;
  left: 700px;
  display: block;
  position: absolute;
  margin-right: 0;
  margin-left: 0;
}

h1 .duskLogo {
  height: 200px;
  width: 400px;
  display: block;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

/*Navigation bar with links to the different parts of the page*/
nav {
  background-color: black;
  position: fixed;
  right: 1px;
  width: 1245px;
  padding: 10px;
  font-size: 50px;
  overflow: hidden;
  top: 0;
  z-index: 1;
}

/*Sets it so that the links to the other parts of the page are in darkred and red when you hover/click it*/
a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: darkred;
}

a:hover, a:active {
  text-decoration: none;
  color: red;
}

/*Template for the logo kind image for each part of the page like "WORLDS" and "ENEMIES", would have made more of these if i had more time*/
h2 img {
  height: 200px;
  width: 700px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/*Class Container for row*/
.containerRow {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

/*Class Container for columns*/
.containerColumn {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*Class for the main text element about the game*/
.gameInfoText {
  height: 400px;
  width: 630px;
  background-color: black;
  display: block;
  position: relative;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 90px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: darkred;
  font-size: 23px;
}

/*Class for image relating to main text about the game*/
.gameInfoImg {
  height: 400px;
  width: 350px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 150px;
  display: 0;
  position: relative;
  background-color: black;
}

.gameInfoImg img {
  height: 100%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/*Class for the images of the enemies*/
.enemyInfoImg {
  height: 300px;
  width: 350px;
  background-color: black;
  position: relative;
  margin-left: 30px;
  left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.enemyInfoImg img {
  background-color: black;
  height: 300px;
  width: 350px;
  margin-right: auto;
  margin-left: auto;
}

/*Class for the text about the enemy factions*/
.enemyInfoText {
  height: 270px;
  width: 740px;
  bottom: 295px;
  margin-bottom: 30px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-left: 30px;
  left: 400px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: darkred;
  size: 25px;
}

/*Class for the images of the worlds*/
.worldInfoImg {
  height: 300px;
  width: 350px;
  background-color: black;
  position: relative;
  margin-left: 30px;
  left: 40px;
}

.worldInfoImg img {
  height: 300px;
  width: 350px;
  margin-right: auto;
  margin-left: auto;
}

/*Class for the text about the worlds*/
.worldInfoText {
  height: 170px;
  width: 350px;
  background-color: black;
  margin-top: 20px;
  position: relative;
  margin-left: 30px;
  left: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: darkred;
  size: 25px;
}

/*This is not really used but might use if i continue to work on this on my own time*/
/*
.weaponsInfoText{
    @include mainText();
    @include HW (500px, 800px);
    @include triInfoBox(relative, 185px, 40px);
    background-color: black;
    
}

.weaponsInfoImg{
    @include triInfoBox(absolute, 30px, 40px);
    img {
        @include HW (auto, auto);
        @include margin-RL(auto)
    }
}
*/
/*Sets the background images*/
body {
  background-color: darkred;
  background-image: url(images/background1.jpg), url(images/background5.jpg);
  background-repeat: no-repeat, repeat;
}
/*# sourceMappingURL=style.css.map */